.query-import-input {
  width: calc(100% - 120px);
}
.query-wrap {
  padding: 20px;
}
.btn-margin {
  margin-left: 12px;
}
.formula {
  margin-bottom: 12px;
}

.btns {
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
}

.sort {
  margin-top: 30px;
  padding-left: 30px;
}
.rule-wrap {
  padding-top: 26px;
  border: 1px solid #cccccc;
  border-radius: 6px;
  margin-bottom: 26px;
}
.rule-wrap__item {
  padding-left: 30px;
}